VITE_API_BASE_URL=https://api.lin-aini.xyz
VITE_OSS_BUCKET=doc-converter-pdf
VITE_OSS_REGION=cn-shenzhen
VITE_OSS_DIR=source
VITE_OSS_UPLOAD_HOST=https://doc-converter-pdf.oss-cn-shenzhen.aliyuncs.com
VITE_OSS_PUBLIC_BASE_URL=https://doc-converter-pdf.oss-cn-shenzhen.aliyuncs.com
VITE_OSS_ACCESS_KEY_ID=
VITE_OSS_POLICY=
VITE_OSS_SIGNATURE=
VITE_OSS_SECURITY_TOKEN=
